<div class="span12">
    <div class="hero-unit">
        <h1>make a list</h1>
        <p>of who's naughty or nice. or whatever you want. share with friends</p>
        <p>&nbsp;</p>
        <p>
            <form action="/new" class="well" method="post">
                <input type="text" name='note[name]' class="span8 input-large front-create" placeholder="name your list" />&nbsp;
                <button type="submit" class="btn btn-primary btn-large">let's do this</button>
            </form>
        </p>
    </div>

</div>